name: MacOS Test

on:
  pull_request:
     types: [opened, synchronize, reopened, ready_for_review]
     branches:
        - master
  workflow_dispatch:

jobs:

  mac-test:
    runs-on: macos-latest
    steps:
      - run: |
          set -evx
          wget https://sourceware.org/elfutils/ftp/0.194/elfutils-0.194.tar.bz2
          tar -xf elfutils-0.194.tar.bz2
          cd elfutils-0.194
          ./configure --disable-silent-rules --disable-libdebuginfod --disable-debuginfod --program-prefix=elfutils- --with-bzlib --with-lzma --with-zlib --with-zstd --prefix=$PWD/install
          make
          make install
          ls -R $PWD/install
          
          #brew install elfutils
          #system_profiler SPHardwareDataType
          #system_profiler SPSoftwareDataType
          
          #echo "Clang"
          #clang++ --version
          
          #echo -e "\nSome system libs"
          #otool -L $(which clang++)
          
          #echo -e "\nbinutils"
          #ld -v
          
          #echo
          #brew config
